@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

body {
	background-color: #F2F2F2;
}

.box {
	background-color: white;
}

div
{
	border-radius: 0.3em;
}

button {
	cursor: pointer;
}


.setting
{
	margin: 0.5em;
	align-items: center;
	display: flex;
	background-color: #F2F2F2;
	padding: 0.5em;
}

.link {
	background-color: #E2E2E2;
	border-radius: 0.3em;
	margin: 0.2em;
	padding: 0 0.3em 0 0.3em;
	display: flex;
	align-items: center;
	box-shadow: 2px 2px 5px #929292;
}

.shadow {
	//box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	//box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	
}

.shadowStrong {
	box-shadow: #505050 0px 20px 30px -10px;
}

.circleview {
  position: relative;
  --w: 50vmin;
  width: var(--w);
  height: var(--w);
  display: flex;
  --show: 2;
  /* put to the number you want to have */
  --num: 6;
  --angle: calc(360 / var(--num));
  /* put to the angle between them */
  
  //transform: rotate(calc(((var(--show) + 1) / 2 * var(--angle)) * -1deg));
}

.circleitem {
  width: calc(var(--w) / 6);
  /* set to whatever width you want */
  height: 30%;
  top: -0;
  left: 0;
  transform-origin: 200% 50%;
  transform: rotate(calc(360deg * var(--n) / var(--num)));
  position: absolute;
}
.circleitemcore {
  transform-origin: center center;
  transform: rotate(calc(360deg * var(--n) / var(--num)));
}

.circleitem>* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.circleitem:nth-child(1) {
  --n: 1;
}

.circleitem:nth-child(2) {
  --n: 2;
}

.circleitem:nth-child(3) {
  --n: 3;
}

.circleitem:nth-child(4) {
  --n: 4;
}

.circleitem:nth-child(5) {
  --n: 5;
}
.circleitem:nth-child(6) {
  --n: 6;
}
.circleitem:nth-child(7) {
  --n: 7;
}
.circleitem:nth-child(8) {
  --n: 7;
}
